<% layout('layout.html') -%>
<div id ="animate">
    <div class="container">
        <div>helo</div>
        <!--<div class="img" style="background-image: url(/images/antient.jpg)"></div>-->
      <!--  <div  class="img" style="background-image: url(/images/antient.jpg)"></div>
        <div  class="img" style="background-image: url(/images/antient.jpg)"></div>
        <div  class="img" style="background-image: url(/images/antient.jpg)"></div>
        <div  class="img" style="background-image: url(/images/antient.jpg)"></div>
        <div  class="img" style="background-image: url(/images/antient.jpg)"></div>-->
    </div>
</div>
<script src="/javascripts/index.js"></script>
<link rel="stylesheet"type="text/css" href="/stylesheets/style.css">
